<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods_SchmidtSynthesizerLibrarian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SchmidtPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SchmidtSynthesizerLibrarian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A949712201E88700044784D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC6D57200BD30E00793771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC6D6F200BD30E00793771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC6D7A200BD30E00793771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
